
<div class="cssshowlaptopcampanas">
    <div class="cssredes5" style="display: flex; flex-direction: row; align-content: center; align-items: center; text-align: center; justify-content: end; height: 400px; justify-items: center; padding-top: 0px; padding-bottom: 15px; background-color: ghostwhite; font-family: Montserrat; margin-top: 50px;">   
        <div style="display: flex;  flex-direction: column; align-content: center; align-items: center; align-items: center;   color: white; border-radius: 5px 0px 0px 5px;  ">
        <div style="display: flex; flex-direction: row; position: relative; right: 120px;  width: 80%;  display: block; padding: 20px 45px; align-items: center; align-content: center;  justify-content: center; justify-items: center; text-align: center;">
            <div class="cssredes1" style="display: flex; flex-direction: column;  ">
                <h2 style="font-family: MontserratBold;">Alquila nuestras pantallas</h2>
                <br>

                <div style="display: flex; flex-direction: row; width: 100%; justify-content: center; justify-items: center; text-align: center;"> 
                    <div style="border-bottom: 5px solid white; width: 200px;"></div>
                </div>
                
                <br>
             
                <!--  <img src="/media1.png" alt="" height="150px" style="position: relative; left: 100px;"> -->
            </div>
            
            <p style="font-family: Montserrat; ">Hospeda un evento exclusivo, profesional y de alto nivel</p>          
        </div>
    </div>
    
        <div style="display: flex; flex-direction: column; position: relative;  right: 50px;">
            <img src="/eventosalquiler1.png" alt="" width="670" height="300px">
        </div>
    </div>
    </div>
</div>
    



<div class="cssshowmobilecampanas"> 
        <div class="cssredes2"
            style="display: flex; flex-direction: column; align-content: center; width: 100%; align-items: center; text-align: center; justify-content: end; justify-items: center; padding-bottom: 15px; background-color: #3a7fd4; font-family: Montserrat; margin-top: 30px;">       
            <div style="display: flex; flex-direction: row; justify-content: center; justify-items: center;">
                <img src="/eventosalquilerphone.png" alt="" width="100%" height="250px">

            </div>          
            <div style="display: flex;  flex-direction: row; align-content: center; align-items: center; align-items: center;  color: white; border-radius: 5px 0px 0px 5px;  ">
                <div style="display: flex; flex-direction: row;  width: 100%;  display: block; padding: 5px 5px; align-items: center; align-content: center; justify-content: center; justify-items: center; text-align: center;">
        
        
                    <div class="cssredes1" style="display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center; justify-items: center; text-align: center;">
                           <br>
                        <h2 style="position: relative; bottom: 5px; font-family: MontserratBold;" >Alquila nuestras pantallas</h2>
                        
                        <div style="display: flex; flex-direction: row; width: 100%; justify-content: center; justify-items: center; text-align: center; padding-top: 7px; padding-bottom: 7px; margin-top: 7px; margin-bottom: 7px;"> 
                            <div style="border-bottom: 5px solid white; width: 200px;"></div>
                        </div>
                      
                        <!--  <img src="/media1.png" alt="" height="150px" style="position: relative; left: 100px;"> -->
                    </div>
                    <p style="padding: 10px 15px; font-family: Montserrat; font-size: 20px; ">Hospeda un evento exclusivo, profesional y de alto nivel</p>
        
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="cssprefootershowlaptop">
            <div style="font-family: 'Raleway', sans-serif; display: flex; flex-direction: column; text-align: center; justify-content: center; justify-items: center; padding-top: 35px;  background-color: GhostWhite;">
               
                <div class="cssshowlaptopcampanas ">
                    <div style="display: flex; flex-direction: row; height: 350px; width: 100%; padding: 15px 60px; justify-content: space-around; justify-items: space-around; align-items: center; align-content: center;">
                        <div style="display: flex; flex-direction: row; height: 350px; width: 70%; padding: 15px 50px; justify-content: space-around; justify-items: space-around; align-items: center; align-content: center;">
        
                            <div style="display: flex; flex-direction: column; padding: 20px 60px;">
                                <div class="card">
                                    <div class="card-body" style="padding: 30px 60px;">
                                        <h3 class="card-title" style="color: #3a7fd4; font-family: Montserrat;  ">Recomendado para eventos privados</h3>
                                        <p class="card-text" style="font-family: Montserrat">Si deseas utilizar nuestras pantallas en un evento privado por un bloque de varias horas lo puedes hacer con reservación.
                                        </p>
                                    </div>
                                </div>

                                <div class=""
                                    style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 30px; padding-top: 50px;">
                                    <button class="btn cssbutton" type="button" style="position: relative; bottom: 10px; justify-items: center;  background-color: rgb(131, 17, 135);; color: white;  font-weight: bold; padding-left: 40px;
                                padding-right: 40px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                font-family: MontserratBold"><a href="/contactanos" style="text-decoration: none; color: white;">CONTÁCTANOS</a></button>
        
        
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div> 
</div>




<div class="cssshowmobilecampanas">
    <div
        style="padding-top: 45px; padding-bottom: 15px; display: flex; flex-direction: column; width: 100%; align-items: center;  justify-content: center; align-items: center; text-align: center; padding-left: 5%; padding-right: 5%; text-align: justify;">
    
        <br>
        <div style="display: flex; flex-direction: column; width: 100%;">
            <div style="display: flex; flex-direction: column; padding: 5px 15px;">
                <div class="card">
                    <div class="card-body" style="padding: 25px 25px;">
                        <h3 class="card-title" style="color: #3a7fd4; text-align: center; font-family: Montserrat; font-size: 22px; ">Recomendado para eventos privados</h3>
                        <p class="card-text" style="font-family: Montserrat ">Si deseas utilizar nuestras pantallas en un evento privado por un bloque de varias horas lo puedes hacer con reservación. 
                    </div>
                </div>
                <div class=""
                    style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 10px; padding-top: 50px;">
                    <button class="btn cssbutton" type="button" style="position: relative; bottom: 10px; justify-items: center;  background-color: rgb(131, 17, 135); color: white;  font-weight: bold; padding-left: 40px;
                padding-right: 40px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-family: MontserratBold"><a href="/contactanos" style="text-decoration: none; color: white;">CONTÁCTANOS</a></button>
    
    
                </div>
            </div>
        
        </div>
        
    </div>
</div>

<!-- 
<div class="divider"><span></span><span style="position: relative; bottom: 5px;">AUMENTA TU
            VISIBILIDAD</span><span></span>
</div> -->


<!-- 
<div class="divider"><span></span><span style="position: relative; bottom: 5px;">AUMENTA TU
    VISIBILIDAD</span><span></span>
</div> -->

<div class="cssshowmobilecampanas">
    <div class="">
        <div style="font-family: Montserrat; display: flex; flex-direction: column; text-align: center; justify-content: center; justify-items: center; padding-top: 15px; padding-bottom: 10px; background-color: GhostWhite;">
            <div class="divider"><span></span><span style="position: relative; bottom: 5px; font-family: Montserrat">RESERVACIÓN</span><span></span>
            </div>
        </div>
    </div>
</div>

<div class="cssshowmobilecampanas"> 
    <div class="cssredes2" style="display: flex; flex-direction: column; align-content: center; align-items: center; text-align: center; justify-content: end;  justify-items: center; padding-top: 0px; padding-bottom: 15px; background-color: ghostwhite; font-family: 'Raleway', sans-serif;">
    
        <div style="display: flex; flex-direction: row; ">

            
            <img src="/calendario.png" alt="" style="height: 150px; position: relative; bottom: 23px;">


           <!--  <video width="100%" height="220" controls autoplay muted loop style="position: relative; bottom: 25px;">
                <source src="/videocity.mp4" type="video/mp4">
            </video> -->
        </div>
    
        <div style="display: flex;  flex-direction: row; align-content: center; align-items: center; align-items: center;   color: #3a7fd4; border-radius: 5px 0px 0px 5px;  ">
            <div style="display: flex; flex-direction: column;  width: 100%;  display: block; padding: 5px 35px; align-items: center; align-content: center;">
    
    
                <div class="cssredes1" style="display: flex; flex-direction: row; position: relative; bottom: 10px; ">
                    <h2 style="font-family: Montserrat; font-size: 35px; padding-left: 10px; padding-right: 10px;">Sistema bajo disponibilidad</h2>
                    <br>
                 
                    <!--  <img src="/media1.png" alt="" height="150px" style="position: relative; left: 100px;"> -->
                </div>

                <div class="cssredes1" style="display: flex; flex-direction: row; font-family: Montserrat; padding-top: 10px; color: black; ">
                    <p>Al servir a múltiples clientes, por tema de demanda, te recomendamos solicitar tus reservaciones con al menos 1 mes de antelación</p>
                    <br>
                 
                    <!--  <img src="/media1.png" alt="" height="150px" style="position: relative; left: 100px;"> -->
                </div>

                <div>
                    <div class=""
                        style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 20px; padding-top: 20px;">
                        <button class="btn cssbutton" type="button" style="position: relative; bottom: 10px; justify-items: center;  background-color: #38B6FF; color: white;  font-weight: bold; padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-family: MontserratBold"><a href="/anunciate" style="text-decoration: none; color: white;">ANÚNCIATE</a></button>
        
                    </div>
        
                </div>
    
    
            </div>
    
    
           
    
        </div>
    
    </div>
</div>
    
    

<div class="cssnotshowupmobile">

    <div style="display: flex; flex-direction: column; text-align: center; justify-items: center;  background-color: GhostWhite; font-family: Montserrat"
        class="dividershowuplaptop">
        <div class="divider"><span></span><span style="position: relative; bottom: 5px; ">RESERVACIÓN</span><span></span>
        </div>
    </div>
    </div>

<div class="cssshowlaptopcampanas"> 

        <div class="cssredes2"
            style="display: flex; flex-direction: row; align-content: center; align-items: center; text-align: center; justify-content: end; height: 400px; justify-items: center; padding-top: 0px; padding-bottom: 15px; background-color: ghostwhite; font-family: 'Raleway', sans-serif; padding-left: 20%; padding-right: 20%;">
        
           

            <div style="display: flex; flex-direction: column; position: relative;  left: 25px;">


              <img src="/calendario.png" alt="" style="width:250px; ">  

               <!--  <video width="670" height="300" controls autoplay muted loop>
                    <source src="/videocity.mp4" type="video/mp4">
        
                </video>  -->
            </div>
        
            <div
                style="display: flex;  flex-direction: column; align-content: center; align-items: center; align-items: center;   color: #3a7fd4; border-radius: 5px 0px 0px 5px;  ">
                <div
                    style="display: flex; flex-direction: row;  width: 80%;  display: block; padding: 20px 45px; align-items: center; align-content: center;">
        
        
                    <div class="cssredes1" style="display: flex; flex-direction: column; ">
                        <h2 style="font-family: Montserrat ">Sistema bajo disponibilidad</h2>
                        <br>
                     
                        <!--  <img src="/media1.png" alt="" height="150px" style="position: relative; left: 100px;"> -->
                    </div>
                    <p style="font-family: Montserrat; color: black;">Te recomendamos solicitar tus reservaciones con al menos 1 mes de antelación</p>
        
        
                </div>
        
        
                <div>
                    <div class=""
                        style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 10px; padding-top: 10px;">
                        <button class="btn cssbutton" type="button" style="position: relative; bottom: 10px; justify-items: center;  background-color: #38B6FF; color: white;  font-weight: bold; padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-family: MontserratBold"><a href="/anunciate" style="text-decoration: none; color: white;">ANÚNCIATE</a></button>
        
                    </div>
        
                </div>
        
            </div>
        
        </div>
        </div>
        
        