<div 
    style="display: flex; flex-direction: row; width: 100%; padding-top: 50px; padding-bottom: 10px;  text-align: center; justify-content: center; justify-items: center; ">
    <h2 style="font-family: 'Orbitron', sans-serif;">Anúnciate</h2>
</div>

<div id="showmobileform"  style="display: flex; flex-direction: column; width: 100%;  justify-content: center; justify-items: center; margin-top: 20px; margin-bottom: 40px;">
        <div style="display: flex; flex-direction: column; padding-left: 5%; padding-right: 5%;  justify-content: center; justify-items: center;">
            <div class="container csscontainer" >
                <div class="accordion" id="accordionExample">
                   <!--  <div class="steps">
                        <progress id="progress" value=0 max=100></progress>
                        <div class="step-item">
                            <button class="step-button text-center" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1
                            </button>
                            <div class="step-title">
                                Tus datos
                            </div>
                        </div>
                        <div class="step-item cssstepi" style="position: relative; left: 10px;">
                            <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2
                            </button>
                            <div class="step-title">
                                Tu anuncio
                            </div>
                        </div>
                    </div> -->
    
                    <div class="card" style="border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                        <div id="headingOne" style="border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                        </div>
    
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample" style="border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                            <div class="card-body" style="background-color: #6351ce;  color: white; font-family: 'Raleway', sans-serif;">
    
                                <div style="display: flex; flex-direction: column; padding: 20px 10px;">
    
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputEmail4">Nombre</label>
                                                <input type="email" class="form-control" id="inputEmail4"
                                                    placeholder="Nombre">
                                            </div>
    
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Email</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress2">Teléfono</label>
                                            <input type="number" class="form-control" id="inputAddress2"
                                                placeholder="Teléfono">
                                        </div>
    
                                        <div class="form-group" style="padding-top: 10px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                    ¿Anunciarás un evento?
                                                </label>
                                            </div>
                                        </div>
                                    </form>
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card"
                        style="background-color: #6351ce; color: white; font-family: 'Raleway', sans-serif;  border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                        <div id="headingTwo" style="border-radius: 0px;">
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample" style="border-radius: 0px;">
                            <div class="card-body"
                                style="background-color: #6351ce; color: white; font-family: 'Raleway', sans-serif; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
    
    
    
                                <div style="display: flex; flex-direction: column; padding: 20px 10px; border-radius: 20px; ">
    
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputEmail4">Título del anuncio</label>
                                                <input type="email" class="form-control" id="inputEmail4"
                                                    placeholder="Título">
                                            </div>
    
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Frecuencia</label>
    
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Selecciona tu paquete</option>
                                                <option value="1"> <span style="font-weight: bold;"> Diario </span> -
                                                    ₡10,000</option>
                                                <option value="2"> <span style="font-weight: bold;"> Semanal </span> -
                                                    ₡60,000</option>
                                                <option value="3"> <span style="font-weight: bold;"> Mensual </span> -
                                                    ₡200,000</option>
                                            </select>
    
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress2" style="padding-right: 20px;">Fecha(s)</label>
    
    
                                            <input type="text" name="daterange" value=""
                                                style="padding-right: 30px; padding-left: 15px;" />
    
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress2">¿Dónde deseas que se muestre tu anuncio?</label>
    
                                            <div class="form-check"
                                                style="display: flex; flex-direction: column; justify-content: start;">
                                                <div style="display: flex; flex-direction: row;">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Todo el país
                                                    </label>
                                                </div>
    
    
                                                <div style="display: flex; flex-direction: row;">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        San José
                                                    </label>
                                                </div>
    
    
                                                <div style="display: flex; flex-direction: row;">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Alajuela
                                                    </label>
                                                </div>
    
    
                                                <div style="display: flex; flex-direction: row;">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Heredia
                                                    </label>
                                                </div>
    
    
                                                <div style="display: flex; flex-direction: row;">
                                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        Cartago
                                                    </label>
                                                </div>
    
    
                                            </div>
    
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="customFile">Cargar anuncio</label>
                                            <input type="file" class="form-control" id="customFile" />
                                        </div>
    
                                    </form>
                                    <div style="display: flex; flex-direction: row; justify-content: center; justify-items: center; padding-top: 15px;">
                                        <button  style="background-color: greenyellow; border-radius: 20px; padding: 5px 15px; border: none;">
                                            Enviar solicitud
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <br>
    
                    <div style="display: flex; flex-direction: row; justify-content: center">
    
    
    
                        <div class="step-item">
                            <button class="step-button text-center" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Anterior
                            </button>
    
                        </div>
                        <div class="step-item" style="position: relative; left: 12px; color: white;">
                            <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Siguiente
                            </button>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
