
<div class="cssshowlaptopcampanas"> 

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: GhostWhite; font-family: 'Raleway', sans-serif; ">
        <div class="container ">
            <a class=" " href="/" style="color: #1c2331;
            padding-left: 90%;
            font-weight: bold;
            font-weight: bolder;
            font-size: 35px;
            font-family: 'Orbitron', sans-serif;
            text-decoration: none;
            padding-top: 35px;">MyTV</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
  </div>
    
    <div style="font-family: 'Raleway', sans-serif; padding-top: 30px; padding-bottom: 10px; padding-left: 20%; display: flex; flex-direction: row; justify-content: start; justify-items: start;">
      <h2 style="padding-right: 50px;">Anuncios</h2>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  
  
  <div class="cssshowlaptopcampanas"> 
    <div id="mySidepanel" class="sidepanel" style="font-family: 'Raleway', sans-serif; ">
        <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        
        <div class="" style="padding-top: 100px;">
            <a href="/admin" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);" active>Nuevas solicitudes</a>
            <a href="/clientes" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);">Clientes</a>
            <a href="/anuncios" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);">Anuncios</a>
            <a href="/disponibilidad" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);">Disponibilidad</a>
            <a href="/mensajes" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);">Mensajes</a>
            <a href="/pagos" style="text-decoration: none;">Pagos</a>
  
        </div>
    
    </div>
    <!-- <button class="openbtn" onclick="openNav()">&#9776; Toggle Sidepanel</button> -->
    </div>
  
  
  
  
  
  
    
  <div class="cssshowlaptopcampanas"> 
  
    <div style="display: flex; flex-direction: column; max-width: 100%; flex-wrap: wrap; margin-top: 10px; margin-left: 250px; margin-right: 50px; font-family: 'Raleway', sans-serif; ">
        
      
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col">Title</th>
          <th scope="col">Package</th>
          <th scope="col">Dates</th>
          <th scope="col">Location</th>
          <th scope="col">Ad Content</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto@outlook.com</td>
          <td>Event</td>
          <td>Coca Cola Ad</td>
          <td>Plan Diario</td>
          <td>13/03/2023</td>
          <td>Todo el país</td>
          <td>@mdo</td>
          <td>Activo</td>
          <td>
            <div style="display: row; font-size: smaller;">
                <button class="btn-primary">Email</button>
                <button class="btn-info">Detener</button>
                <button class="btn-danger">Cancelar</button>
            </div>
          </td>
  
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mark</td>
          <td>Otto@outlook.com</td>
          <td>Event</td>
          <td>Coca Cola Ad</td>
          <td>Plan Diario</td>
          <td>13/03/2023</td>
          <td>Todo el país</td>
          <td>@mdo</td>
          <td>Activo</td>
          <td>
            <div style="display: row; font-size: smaller;">
                <button class="btn-primary">Email</button>
                <button class="btn-info">Detener</button>
                <button class="btn-danger">Cancelar</button>
  
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mark</td>
          <td>Otto@outlook.com</td>
          <td>Event</td>
          <td>Coca Cola Ad</td>
          <td>Plan Diario</td>
          <td>13/03/2023</td>
          <td>Todo el país</td>
          <td>@mdo</td>
          <td>Activo</td>
          <td>
            <div style="display: row; font-size: smaller;">
                <button class="btn-primary">Email</button>
                <button class="btn-info">Detener</button>
                <button class="btn-danger">Cancelar</button>
  
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
  
    </div>
  </div>
    
    
    