<div class="cssshowlaptopcampanas">
    <div
        style="padding-top: 45px; padding-bottom: 5px; display: flex; flex-direction: column; width: 100%; align-items: center;  justify-content: center; align-items: center; text-align: center;">
        <h1 style="font-family: 'Orbitron', sans-serif; text-align: center;"> <span class="cssmobiletitle">3 pasos para
                anunciarte</span> </h1>
        <br>

    </div>
</div>

<div class="cssshowmobilecampanas">
    <div
        style="padding-top: 45px; padding-bottom: 5px; display: flex; flex-direction: column; width: 100%; align-items: center;  justify-content: center; align-items: center; text-align: center; padding-left:  20px; padding-right:  20px; padding-top: 45px;">
        <h1 style="font-family: 'Orbitron', sans-serif; text-align: center;"> <span class="cssmobiletitle">3 pasos para
                anunciarte</span> </h1>
        <br>
    </div>
</div>


<div class="cssshowlaptopcampanas">
    <div class="container" style="padding-top: 35px; background-color: white;">
        <div class="row" style="justify-content: space-around; align-content: center; align-items: center;">
            <div class="card"
                style="width: 18rem; align-content: center; align-items: center; height: 160px; border-radius: 10px; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);">
                <div class="card-body" style="background-color: #6351ce; color: ghostwhite; border-radius: 10px;">
                    <div
                        style="display: flex; flex-direction: row; align-items: center; align-content: center; justify-content: space-around;">
                        <div style="display: flex; flex-direction: column;">
                            <h5 style="border-radius: 50%;
                            width: 36px;
                            height: 36px;                      
                            background: ghostwhite;
                            border: 2px solid #6351ce;
                            color: #6351ce;
                            text-align: center; "> <span style="position: relative; top: 3px; ">1 </span> </h5>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <h5 class="card-title">Click en "Empezar"</h5>
                        </div>
                    </div>
                    <p class="card-text" style="text-align: center;">Completa el formulario con tus datos y los de tu anuncio</p>
                </div>
            </div>

            <i class="bi bi-arrow-right"></i>

            <div class="card"
                style="width: 18rem; height: 160px; border-radius: 10px; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);">
                <div class="card-body" style="background-color: #6351ce; color: ghostwhite; border-radius: 10px;">
                    <div
                        style="display: flex; flex-direction: row; align-items: center; align-content: center; justify-content: space-around;">
                        <div style="display: flex; flex-direction: column;">
                            <h5 style="border-radius: 50%;
                            width: 36px;
                            height: 36px;                     
                            background: ghostwhite;
                            border: 2px solid #6351ce;
                            color: #6351ce;
                            text-align: center; "> <span style="position: relative; top: 3px; ">2 </span> </h5>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <h5 class="card-title" style="position: relative; left: 25px;">Recbirás una confirmación</h5>
                        </div>
                    </div>
                    <p class="card-text" style="text-align: center;">Te enviaremos un correo con la confirmación de tu reservación o con algún otro dato importante</p>
                </div>
            </div>

            <i class="bi bi-arrow-right"></i>


            <div class="card" style="width: 18rem; border-radius: 10px; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);">
                <div class="card-body" style="background-color: #6351ce; color: ghostwhite; border-radius: 10px;">
                    <div
                        style="display: flex; flex-direction: row; align-items: center; align-content: center; justify-content: space-around;">
                        <div style="display: flex; flex-direction: column;">
                            <h5 style="border-radius: 50%;
                            width: 36px;
                            height: 36px;
                            background: ghostwhite;
                            border: 2px solid #6351ce;
                            color: #6351ce;
                            text-align: center; "> <span style="position: relative; top: 3px; ">3 </span> </h5>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <h5 class="card-title" style="position: relative; right: 55px;">Listo</h5>
                        </div>
                    </div>
                    <p class="card-text" style="text-align: center;">Tus anuncios se agendarán enseguida </p>
                </div>
            </div>
        </div>
        <div class=""
            style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 25px; padding-top: 50px;">
            <button class="btn cssbutton" type="button"
                style="position: relative; bottom: 10px; justify-items: center;  background-color: rgb(104, 12, 104); color: white;  font-weight: bold; padding-left: 60px;
         padding-right: 60px; padding-top: 10px; padding-bottom: 10px; font-family: 'Orbitron', sans-serif;"><a href="/anunciate" style="text-decoration: none; color: white;">EMPEZAR</a></button>
        </div>
    </div>
</div>






<div class="cssshowmobilecampanas">
    <div class="container" style="padding-top: 35px;">
        <div class=""
            style=" display: flex; flex-direction: column; align-content: center; align-items: center; justify-content: center; justify-items: center;">
            <div class="card"
                style="width: 18rem; align-content: center; border-radius: 10px; align-items: center; height: 160px; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);">

                <div class="card-body"
                    style="background-color: #6351ce; color: ghostwhite; border-radius: 10px; padding-bottom: 15px;">
                    <div
                        style="display: flex; flex-direction: row; align-items: center; align-content: center; justify-content: center;">
                        <div
                            style="display: flex; flex-direction: column; justify-content: center; justify-items: center; text-align: center;">
                            <div
                                style="display: flex; flex-direction: row; justify-content: center; justify-items: center;">
                                <h5 class="card-title" style="border-radius: 50%;
                            width: 36px;
                            height: 36px;                      
                            background: ghostwhite;
                            border: 2px solid #6351ce;
                            color: #6351ce;"> <span style="position: relative; top: 3px; ">1 </span> </h5>

                            </div>

                            <h5 class="card-title">Click en "Anunciarte"</h5>

                        </div>
                        <div style="display: flex; flex-direction: column;">
                        </div>
                    </div>
                    <p class="card-text" style="text-align: center;">Completa el formulario con tus datos y los de tu anuncio</p>
                </div>
            </div>

            <i style="padding-top: 15px; padding-bottom: 15px;" class="bi bi-arrow-down"></i>

            <div class="card" style="width: 18rem; height: 160px; border-radius: 10px;     box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
            ">
                <div class="card-body"
                    style="background-color: #6351ce; color: ghostwhite; border-radius: 10px; padding-bottom: 15px;">
                    <div
                        style="display: flex; flex-direction: row; align-items: center; align-content: center; justify-content: center;">
                        <div
                            style="display: flex; flex-direction: column; justify-content: center; justify-items: center; text-align: center;">
                            <div
                                style="display: flex; flex-direction: row; justify-content: center; justify-items: center;">
                                <h5 class="card-title" style="border-radius: 50%;
                                width: 36px;
                                height: 36px;                      
                                background: ghostwhite;
                                border: 2px solid #6351ce;
                                color: #6351ce;"> <span style="position: relative; top: 3px; ">2 </span> </h5>

                            </div>

                            <h5 class="card-title">Recbirás una confirmación</h5>

                        </div>
                        <div style="display: flex; flex-direction: column;">
                        </div>
                    </div>
                    <p class="card-text" style="text-align: center;">Te enviaremos un correo con la confirmación de tu reservación o con algún otro dato importante</p>
                </div>
            </div>

            <i style="padding-top: 15px; padding-bottom: 15px;" class="bi bi-arrow-down"></i>


            <div class="card" style="width: 18rem; border-radius: 10px;     box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
            ">
                <div class="card-body" style="background-color: #6351ce; color: ghostwhite; border-radius: 10px;">
                    <div
                        style="display: flex; flex-direction: row; align-items: center; align-content: center; justify-content: center;">
                        <div
                            style="display: flex; flex-direction: column; justify-content: center; justify-items: center; text-align: center;">
                            <div
                                style="display: flex; flex-direction: row; justify-content: center; justify-items: center;">
                                <h5 class="card-title" style="border-radius: 50%;
                                width: 36px;
                                height: 36px;                      
                                background: ghostwhite;
                                border: 2px solid #6351ce;
                                color: #6351ce;"> <span style="position: relative; top: 3px; ">3 </span> </h5>

                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <h5 class="card-title">Listo</h5>
                            </div>
                        </div>
                        
                    </div>
                    <p class="card-text" style="text-align: center;">Tus anuncios se agendarán enseguida </p>
                </div>
            </div>
        </div>
        <div class=""
            style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 25px; padding-top: 50px;">
            <button class="btn cssbutton" type="button"
                style="position: relative; bottom: 10px; justify-items: center;  background-color: rgb(104, 12, 104); color: white;  font-weight: bold; padding-left: 60px;
         padding-right: 60px; padding-top: 10px; padding-bottom: 10px; font-family: 'Orbitron', sans-serif;"><a href="/anunciate" style="text-decoration: none; color: white;">EMPEZAR</a></button>
        </div>
    </div>
</div>




<div class="cssprefootershowlaptop">
    <div
        style="font-family: 'Raleway', sans-serif; display: flex; flex-direction: column; text-align: center; justify-content: center; justify-items: center; padding-top: 15px; padding-bottom: 15px; background-color: GhostWhite;">
        <div class="divider"><span></span><span style="position: relative; bottom: 5px;">COBERTURA</span><span></span>
        </div>

        <div class="cssshowlaptopcampanas cssroutes">
            <div
                style="display: flex; flex-direction: row; height: 400px; width: 100%; padding: 25px 50px; justify-content: space-around; justify-items: space-around; align-items: center; align-content: center;">
                <div style="display: flex; flex-direction: column;">
                    <video width="670" height="300" controls autoplay muted loop style="border-radius: 15px;">
                        <source src="/videocity.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="card" style="width: 25%;">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #6351ce;">Diversas rutas</h3>
                        <p class="card-text">Nuestras pantallas recorren las zonas más transitadas del país
                        </p>
                        <div
                            style="display: flex; flex-direction: column; text-align: center; justify-content: center; font-weight: bold;">
                            <h6>San José (GAM y alrededores)</h6>
                            <h6>Alajuela</h6>
                            <h6>Heredia </h6>
                            <h6>Cartago</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cssshowlaptopcampanas ">
            <div
                style="display: flex; flex-direction: row; width: 100%; justify-content: start; justify-items: start; padding: 15px; text-align: center; justify-content: center; background-color: #6351ce;">
                <h3 style="color: white; ">Puedes definir en qué zonas quieres mostrar tus anuncios</h3>
            </div>
        </div>
    </div>
</div>

<div class="cssprefootershowmobile">
    <div style="font-family: 'Raleway', sans-serif; display: flex; flex-direction: column; text-align: center; justify-content: center; justify-items: center; padding-top: 15px; padding-bottom: 10px; background-color: GhostWhite;">
        <div class="divider"><span></span><span style="position: relative; bottom: 5px;">COBERTURA</span><span></span>
        </div>
    </div>
</div>

<div class="cssprefootershowmobile">
    <div style="display: flex; flex-direction: column;">
        <video width="100%" height="auto" controls autoplay muted loop>
            <source src="/videocity.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="cssprefootershowmobile">
    <div style="font-family: 'Raleway', sans-serif; display: flex; flex-direction: column; text-align: center; justify-content: center; justify-items: center; background-color: black;">
        <div class="cssprefootershowmobile cssroutes">
            <div style="display: flex; flex-direction: column; height: 450px; width: 100%; padding: 15px 20px; justify-content: center; justify-items: center; align-items: center; align-content: center;">                
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #6351ce;">Diversas rutas</h3>
                        <p class="card-text">Nuestras pantallas recorren las zonas más transitadas del país
                        </p>
                        <div
                            style="display: flex; flex-direction: column; text-align: center; justify-content: center; font-weight: bold;">
                            <h6>San José (GAM y alrededores)</h6>
                            <h6>Alajuela</h6>
                            <h6>Heredia</h6>
                            <h6>Cartago</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cssprefootershowmobile ">
            <div
                style="display: flex; flex-direction: row; width: 100%; justify-content: center; justify-items: center; padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px;  text-align: center; justify-content: center; background-color: #6351ce;">
                <h3 style="color: white; font-family: 'Raleway', sans-serif; font-size: 27px; padding-left: 8px; padding-right: 8px; padding-top: 15px; padding-bottom: 15px; ">Puedes definir en qué zonas quieres mostrar tus anuncios</h>
            </div>
        </div>

    </div>
</div>





<div class="cssprefootershowlaptop">
    <div
        style="font-family: 'Raleway', sans-serif; display: flex; flex-direction: column; text-align: center; justify-content: center; justify-items: center; padding-top: 35px; padding-bottom: 15px; background-color: GhostWhite;">
        <div class="divider"><span></span><span
                style="position: relative; bottom: 5px;">ORGANIZACIÓN</span><span></span></div>
        <div class="cssshowlaptopcampanas ">
            <div
                style="display: flex; flex-direction: row; height: 400px; width: 100%; padding: 25px 50px; justify-content: space-around; justify-items: space-around; align-items: center; align-content: center;">
                <div
                    style="display: flex; flex-direction: row; height: 400px; width: 70%; padding: 25px 50px; justify-content: space-around; justify-items: space-around; align-items: center; align-content: center;">

                    <div style="display: flex; flex-direction: column; padding: 20px 60px;">
                        <div class="card">
                            <div class="card-body" style="padding: 30px 60px;">
                                <h3 class="card-title" style="color: #6351ce;">Administra tus anuncios desde tu
                                    perfil</h3>
                                <p class="card-text">Al anunciarte con <span style=" font-family: myFirstFont;
                                    font-weight: bold; font-size: larger;">ZONA</span> obtendrás un perfil propio
                                    desde en el que te podrás logear y administrar tus anuncios
                                </p>
                            </div>
                        </div>
                        <div class=""
                            style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 30px; padding-top: 50px;">
                            <button class="btn cssbutton" type="button" style="position: relative; bottom: 10px; justify-items: center;  background-color: rgb(104, 12, 104); color: white;  font-weight: bold; padding-left: 40px;
                        padding-right: 40px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-family: 'Orbitron', sans-serif;"><a href="/anunciate" style="text-decoration: none; color: white;">ANÚNCIATE</a></button>


                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; align-items: center; align-content: center; ">
                        <div
                            style="display: flex; flex-direction: column; text-align: center; justify-content: center; font-weight: bold;  align-items: center; align-content: center;">
                            <img src="/managementpic.png" alt=""
                                style="width: 250px; height: 250px; position: relative; bottom: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






<div class="cssprefootershowmobile">
    <div style="font-family: 'Raleway', sans-serif; display: flex; flex-direction: column; text-align: center; justify-content: center; justify-items: center; padding-top: 45px; padding-bottom: 15px; background-color: GhostWhite;">
        <div class="divider"><span></span><span
                style="position: relative; bottom: 5px;">ORGANIZACIÓN</span><span></span></div>
        <div class="cssprefootershowmobile ">
            <div style="display: flex; flex-direction: column;  width: 100%; padding: 10px 5px; justify-content: center; justify-items: center; align-items: center; align-content: center;">
                <div style="display: flex; flex-direction: column;  padding: 10px 5px; justify-content: center; justify-items: center; align-items: center; align-content: center;">


                    <div style="display: flex; flex-direction: column; align-items: center; align-content: center; ">
                        <div
                            style="display: flex; flex-direction: column; text-align: center; justify-content: center; font-weight: bold;  align-items: center; align-content: center;">
                            <img src="/managementpic.png" alt=""
                                style="width: 150px; height: 150px; position: relative; bottom: 10px;">
                        </div>
                    </div>


                    <div style="display: flex; flex-direction: column; padding: 15px 8px;">
                        <div class="card">
                            <div class="card-body" style="padding: 10px 15px;">
                                <h3 class="card-title" style="color: #6351ce;">Administra tus anuncios desde tu
                                    perfil</h3>
                                <p class="card-text">Al anunciarte con <span style="font-family: myFirstFont; font-weight: bolder; font-size: larger;">ZONA </span> obtendrás un perfil propio
                                    desde en el que te podrás logear y administrar tus anuncios
                                </p>
                            </div>
                        </div>
                        <div class=""
                            style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 20px; padding-top: 50px;">
                            <button class="btn cssbutton" type="button" style="position: relative; bottom: 10px; justify-items: center;  background-color: rgb(104, 12, 104); color: white;  font-weight: bold; padding-left: 40px;
                        padding-right: 40px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-family: 'Orbitron', sans-serif;"><a href="/anunciate" style="text-decoration: none; color: white;">ANÚNCIATE</a></button>


                        </div>
                    </div>

                    
                </div>
            </div>
        </div>

    </div>
</div>





<div class="divider"><span></span><span style="position: relative; bottom: 5px;">ALCANCE</span><span></span>
</div>

<div class="cssprefootershowlaptop"> 
    <div class="cssbackgroundvisibility"
        style="display: flex; flex-direction: row; width: 100%; justify-content: center; justify-items: center; align-items: center; align-content: center;">
        <div
            style="display: flex; flex-direction: row; width: 80%; align-items: center; align-content: center; height: 350px; justify-content: start; justify-content: start; padding-left: 5%; padding-right: 60%;  line-height: 1.6;">
    
            <h3 style=" line-height: 1.6;">Alcanza profesionalmente a <span
                    style="background-color:#6351ce;; color: white; padding: 5px 5px;"> miles</span> de personas al día de
                forma <span style="background-color:#6351ce;; color: white; padding: 5px 5px;"> accesible y eficaz </span>
            </h3>
    
        </div>
    </div>
</div>




<div class="cssprefootershowmobile"> 
<div class=""
    style="display: flex; flex-direction: column; width: 100%; justify-content: center; justify-items: center; align-items: center; align-content: center;">
   <img src="/visibilityphone.png" alt="" width="100%">
    <div
        style="display: flex; flex-direction: column; width: 80%; align-items: center; align-content: center; height: 350px; justify-content: center; justify-content: center; padding-left: 5%; padding-right: 5%;  line-height: 1.6;">

        <h3 style=" line-height: 1.6; font-family: 'Raleway', sans-serif;">Alcanza profesionalmente a <span
                style="background-color:#6351ce;; color: white; padding: 5px 5px;"> miles</span> de personas al día de
            forma <span style="background-color:#6351ce;; color: white; padding: 5px 5px;"> accesible y eficaz </span>
        </h3>

    </div>
</div>
</div>




<div class=""
    style="width: 100%; display: flex; flex-direction: row; justify-content: center; padding-bottom: 30px; padding-top: 50px;">
    <button class="btn cssbutton" type="button" style="position: relative; bottom: 10px; justify-items: center;  background-color: rgb(104, 12, 104); color: white;  font-weight: bold; padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
font-family: 'Orbitron', sans-serif;"><a href="/anunciate" style="text-decoration: none; color: white;">ANÚNCIATE</a></button>
</div>


<div class="cssshowmobilecampanas">
    <div style="height: 20px;"></div>
</div>


<div style="position: relative; bottom: 15px; height: 20px;"></div>