<div class="cssshowlaptopcampanas">

     <nav class="navbar navbar-expand-lg navbar-light"
          style="background-color: GhostWhite; font-family: 'Raleway', sans-serif; ">
          <div class="container ">
               <a class=" " href="/" style="color: #1c2331; padding-left: 90%; font-weight: bold; font-weight: bolder; font-size: 35px;
            font-family: 'myFirstFont'; text-decoration: none; padding-top: 35px;">COMERCIAL</a>
               <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
          </div>
     </nav>
</div>

<div
     style="font-family: 'Raleway', sans-serif; padding-top: 30px; padding-bottom: 10px; padding-left: 20%; display: flex; flex-direction: row; justify-content: start; justify-items: start;">
     <h2 style="padding-right: 50px;">Disponibilidad</h2>
     
    <form style="padding-left: 20px;" class="form-inline my-2 my-lg-0" action="/actualizarespacio" method="POST">
      <input class="form-control mr-sm-2" type="text" name="actualizar" id="actualizar" placeholder="Dia" >
      <input class="form-control mr-sm-2" type="text" name="actualizarespacio" id="actualizarespacio" placeholder="Espacios" >
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >Actualizar</button>
    </form>

</div>


<div class="cssshowlaptopcampanas">
     <div id="mySidepanel" class="sidepanel" style="font-family: 'Raleway', sans-serif; ">
          <div class="" style="padding-top: 100px;">
               <a href="/admin" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);" active>Nuevas
                    solicitudes</a>
               <a href="/clientes" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);">Clientes</a>
               <a href="/anuncios" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);">Anuncios</a>
               <a href="/disponibilidad" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);">Disponibilidad</a>
               <a href="/mensajes" style="text-decoration: none; border-bottom: 2px solid rgb(253, 253, 253);">Mensajes</a>
               <a href="/pagos" style="text-decoration: none;">Pagos</a>
          </div>
     </div>
</div>



<div class="cssshowlaptopcampanas" style="margin-top: 20px; align-items: center; align-content: center; margin-bottom: 20px;">
     <div style="display: flex; flex-direction: row; border-radius: 10px; background-color: #6351ce; color: white; justify-content: center; justify-items: center; text-align: center; padding-top: 0px; padding-bottom: 0px; margin-left: 250px; margin-right: 50px; "> 
          <h1>Enero</h1>
     </div>
</div>


<div class="card"
          style="display: flex; flex-direction: row; max-width: 100%; flex-wrap: wrap; margin-top: 10px; margin-left: 250px; margin-right: 50px; font-family: 'Raleway', sans-serif; align-items: center; align-content: center; ">
         
<table class="table table-light table-striped text-center">
     <thead>
       <tr>
         <th scope="col">Dia</th>
         <th scope="col">Ocupados</th>
       
       </tr>
     </thead>
     <tbody>
                    
          <% 
          if(clients.lenght!=0) {
            var i=1;
            clients.forEach(function(data) { 
            
              %>
       <tr>
         <td><%= data.Dia %></td>
         <td><%= data.Ocupados %></td>
       </tr>
       
       <% i++; })} %>
     </tbody>
   </table>
</div>
