
<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331;">
    <!-- Section: Social media -->
    <section class="cssfootermobile d-flex justify-content-between p-4" style="background-color: #3a7fd4">
        <!-- Left -->
        <div class="me-5 cssfootertitlemobile" style="position: relative; left: 15px; font-family: Montserrat;">
            <span>Encuentranos también en:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div style="padding-right: 25px; position: relative; left: 15px;">
            <a href="" class="text-white me-4" style="padding-left: 8px; padding-right: 8px; text-decoration: none;">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="text-white me-4" style="padding-left: 8px; padding-right: 8px; text-decoration: none;">
                <i class="bi bi-instagram"></i>
            </a>

            <a href="" class="text-white me-4" style="padding-left: 8px; padding-right: 8px; text-decoration: none;">
                <i class=" bi bi-whatsapp"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mb-4">
                  
                <div class="cssformbodyarea" style="padding-bottom: 25px;"> 
                    <form  action="/mensajes" method="POST" class="cssformbody" style=" height: 450px; font-family: Montserrat;">
                        <p style="padding: 0px 10px;" >Dejanos un mensaje.</p>
                        <p style="padding: 0px 10px; position: relative; bottom: 5px;" >¡Estaremos felices de asistirte!</p>
                        <input style="margin-top: 10px; margin-bottom: 15px; background-color: rgba(255,255,255,.4) " id="Email" name="Nombre" placeholder="Tu correo" class="email" type="email" required  />
                    <input style="margin-top: 10px; margin-bottom: 15px; background-color: rgba(255,255,255,.4) " id="Email" name="Email" placeholder="Tu correo" class="email" type="email" required />
                    <textarea style="margin-top: 10px; margin-bottom: 15px;" id="Mensaje" rows="4" cols="50" name="Mensaje" placeholder="Favor ingresa tu mensaje" class="message" required></textarea>
                    <input style="margin-top: 10px;  margin-bottom: 85px; color: white;"  name="submit" class="btn btnform " type="submit" value="Enviar"/>
                </form>
            </div>


                </div>
                <!-- Grid column -->

                <div class="col-md-3 col-lg-2 col-xl-2 mx- mb-4 cssproductsfootermobile" style="font-family: Montserrat;">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Nosotros</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #3a7fd4; height: 2px" />
                    <p>
                        <a href="/nosotros" class="text-white">Sobre nosotros</a>
                    </p>
                    <p>
                        <a href="/como" class="text-white">Pasos para anunciarse</a>
                    </p>
                    <p>
                        <a href="/campanas" class="text-white">Precios</a>
                    </p>
                  
                </div>
                <!-- Grid column -->

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 csscontactfootermobile" style="font-family: Montserrat">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contacto</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #3a7fd4; height: 2px" />
                    <p><i class="fas fa-home mr-3"></i> San José, Costa Rica</p>
                    <p><i class="fas fa-envelope mr-3"></i> soporte@mytv.com</p>
                    <p><i class="fas fa-phone mr-3"></i>+(506)6015 1508</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright MyTV
    </div>
</footer>
