
<div> </div>

<nav class="navbar navbar-light bg-light"
    style=" padding:0%; margin-top: 0px; display: flex; flex-direction: row; justify-content: flex-end; font-family: 'Raleway', sans-serif;">

    <div class="form-inline">
       <!--  <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Nosotros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="color: black;">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div> -->
        <!-- <a class="nav-item active">
            <a class="nav-link " href="#" style="color: white; background-color: #6351ce; padding-left: 25px; padding-right: 25px;">Login<span class="sr-only">(current)</span></a>
        </a>
        <div > -->
            <button class="btn cssbtn" type="button"
                style="border-radius: 0px; background-color: #3a7fd4; color: white; padding-left: 25px; padding-right: 25px; font-family: MontserratBold"><a href="/search-email" style="text-decoration: none; color: white;">Busca tus anuncios</a> <span class="sr-only">(current)</span></button>
        </div>
        <div >
            <button class="btn cssbtn" type="button"
                style="border-radius: 0px; background-color: rgb(131, 17, 135); color: white; padding-left: 25px; padding-right: 25px; font-weight: bold;  font-family: MontserratBold"><a href="/contactanos" style="text-decoration: none; color: white;">CONTÁCTANOS</a> </button>
        </div>
    </div>
</nav>




<nav class="navbar navbar-expand-lg navbar-light" style="background-color: GhostWhite">
    <div class="container ">
        <!-- <a class=" csstitlewebsitemobile" href="/" style="color: #1c2331;
        padding-left: 15px;
        font-weight: bold;
        font-family: myFirstFont;
        text-decoration: none;
        padding-top: 15px;" 
         >COMERCIAL</a> -->
         <a href="/"><img class="csstitlewebsitemobile" src="/logovonique1.png" alt="" height="150px"></a>        
         <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" navbar-collapse justify-content-end" id="navbarNav" style="font-family: MontserratBold">
            <ul class="navbar-nav ms-auto">

                <!-- si existe la variable user, osea si el usuario está logeado, nmuestra estos links -->

                <li class="nav-item cssnavitem cssmenuitem" style='color:black'>
                    <a href="/campanas" class="nav-link">PRECIOS</a>
                </li>
                <li class="nav-item cssnavitem cssmenuitem" style='color:black'>
                    <a href="/como" class="nav-link">CÓMO</a>
                </li>

                <li class="nav-item cssnavitem cssmenuitem" style='color:black'>
                    <a href="/nosotros" class="nav-link">NOSOTROS</a>
                </li>
                <li class="nav-item cssnavitem cssmenuitem" style='color:black'>
                    <a href="/alquiler" class="nav-link">ALQUILER</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
