

<div class="cssshowlaptopcampanas"> 

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: GhostWhite; font-family: 'Raleway', sans-serif; ">
    <div class="container ">
        <a class=" " href="/" style="color: #1c2331;
        padding-left: 90%;
        font-weight: bold;
        font-weight: bolder;
        font-size: 35px;
        font-family: 'Orbitron', sans-serif;
        text-decoration: none;
        padding-top: 35px;">MyTV</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
</div>


    

<!-- <div class="" style="padding-top: 35px; font-family: 'Raleway', sans-serif;  width: 100%; align-items: center; align-content: center; padding-left: 100px;">
    <h5 style="position: relative; bottom: 15px;">Hola Andrey!</h5>
</div>
 -->

 
 <div class="cssprefootershowmobile"> 

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: GhostWhite; font-family: 'Raleway', sans-serif; ">
        <div class="container " style="justify-content: center; justify-items: center; text-align: center;">
            <a class=" " href="/" style="color: black;
            padding-bottom: 5px;
        font-weight: bold;
        font-weight: bolder;
        font-size: 35px;
        font-family: 'Orbitron', sans-serif;
        text-decoration: none;
        padding-top: 15px;">MyTV</a>
        </div>
    </nav>
</div>

<div class="cssprefootershowmobile"> 

    <div class="bg-dark" style="padding-top: 5px; line-height: 12px; font-family: 'Raleway', sans-serif; background-color: transparent;">
        <div class="bg-dark" style=" color: white; border-left: 2px solid #6351ce; ">
            <div class="bg-dark" style="padding-left: 15px; padding-top: 15px; padding-bottom: 5px; font-size: smaller; border-left: 2px solid #6351ce; ">
                <p>Andrey Lara Smith</p>
                <p>70506565</p>
                <p>andrey@gmail.com</p>
            </div>
        </div>
    
    </div>
    </div>

    
<div class="cssprefootershowmobile" style="font-family: 'Raleway', sans-serif; background-color: #6351ce; "> 
    <nav class="navbar " style="background-color: #6351ce;">
        <div class="container-fluid" style="display: flex; flex-direction: row;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span style="color: white; position: relative; top: 5px;" class="navbar-toggler-icon bi bi-arrow-down-circle-fill"></span>
          </button>
          <h5><span style=" font-size: smaller; color: white;">¡Hola Andrey, feliz día!</span></h5>

        </div>
      </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class=" p-4" style="display: flex; flex-direction: column; color: white; align-items: flex-start; align-content: flex-start; background-color: #6351ce;">
            <a style="color: white;" href="#">Nuevo anuncio</a>
            <a style="color: white; padding-top: 15px;"  href="#">Contactar soporte</a>
            <a style="color: white; padding-top: 15px;"  href="/">Cerrar sesión</a>
        </div>
      </div>
     
</div>




<div class="cssshowlaptopcampanas" style="font-family: 'Raleway', sans-serif; "> 

<div style="display: grid; grid-template-rows: 200px; margin-left: 400px; font-family: 'Raleway', sans-serif; ">
    <div class="" style="height: 100px; padding-left: 20px; padding-top: 35px;">
        <h5><span style="font-weight: bold;">¡Hola Andrey, feliz día!</span></h5>
        <br>
        <h3 style=" color: #6351ce; font-weight: bolder; font-family: 'Orbitron', sans-serif;">Mis anuncios</h3>
        
    </div>
</div>
</div>


<div class="cssprefootershowmobile" style="font-family: 'Raleway', sans-serif; "> 

    <div style="display: grid; grid-template-rows: 100px;  font-family: 'Raleway', sans-serif; ">
        <div class="" style=" padding-left: 25px; padding-top: 35px;">
        
            <h4 style=" color: #6351ce; font-weight: bolder; font-family: 'Orbitron', sans-serif;">Mis anuncios</h4>
      
        </div>
    </div>
</div>


<div class="cssshowlaptopcampanas"> 

<div style="display: flex; flex-direction: row; height: 400px; max-width: 100%; flex-wrap: wrap; margin-left: 400px; font-family: 'Raleway', sans-serif; justify-content: space-around; ">
    <div style="margin: 10px; margin-top: 17px;">
        <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
        <div class="card" style="width: 19rem;">
            <img src="/city2.png" class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                        </li>
                        <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                        </li>
                    </ul>
                    <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                        <a href="#" class="card-link">Editar</a>
                        <a href="#" class="card-link">Descargar</a>
                    </div>
        </div>
    </div>

    <div style="margin: 10px; margin-top: 17px;">
        <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
            <div class="card" style="width: 19rem;">
                    <img src="/city2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                        </li>
                        <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                        </li>
                    </ul>
                    <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                        <a href="#" class="card-link">Editar</a>
                        <a href="#" class="card-link">Descargar</a>
                    </div>
            </div>
    </div>

    <div style="margin: 10px; margin-top: 17px;">
        <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
            <div class="card" style="width: 19rem;">
                    <img src="/city2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                        </li>
                        <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                        </li>
                    </ul>
                    <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                        <a href="#" class="card-link">Editar</a>
                        <a href="#" class="card-link">Descargar</a>
                    </div>
            </div>
    </div>

    
    <div style="margin: 10px; margin-top: 17px;">
        <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
            <div class="card" style="width: 19rem;">
                    <img src="/city2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                        </li>
                        <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                        </li>
                    </ul>
                    <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                        <a href="#" class="card-link">Editar</a>
                        <a href="#" class="card-link">Descargar</a>
                    </div>
            </div>
    </div>


    
    <div style="margin: 10px; margin-top: 17px;">
        <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
            <div class="card" style="width: 19rem;">
                    <img src="/city2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                        </li>
                        <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                        </li>
                    </ul>
                    <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                        <a href="#" class="card-link">Editar</a>
                        <a href="#" class="card-link">Descargar</a>
                    </div>
            </div>
    </div>

    
    <div style="margin: 10px; margin-top: 17px;">
        <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
            <div class="card" style="width: 19rem;">
                    <img src="/city2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                        </li>
                        <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                        </li>
                    </ul>
                    <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                        <a href="#" class="card-link">Editar</a>
                        <a href="#" class="card-link">Descargar</a>
                    </div>
            </div>
    </div>


</div>
</div>
</div>






<div class="cssprefootershowmobile" style="justify-content: center; justify-items: center; text-align: center; padding: 0 10px;"> 

    <div style="display: flex; flex-direction: column; width: 100%; flex-wrap: wrap; font-family: 'Raleway', sans-serif; justify-content: center; justify-items: center; text-align: center; ">
        <div style="margin: 5px; margin-top: 10px;">
            <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
            <div class="card" style="width: 100%">
                <img src="/city2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                            <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                    </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                            </li>
                            <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                            </li>
                        </ul>
                        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                            <a href="#" class="card-link">Editar</a>
                            <a href="#" class="card-link">Descargar</a>
                        </div>
            </div>
        </div>
    
        <div style="margin: 5px; margin-top: 10px;">
            <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
                <div class="card" style="width: 100%">
                        <img src="/city2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                            </li>
                            <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                            </li>
                        </ul>
                        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                            <a href="#" class="card-link">Editar</a>
                            <a href="#" class="card-link">Descargar</a>
                        </div>
                </div>
        </div>
    
        <div style="margin: 5px; margin-top: 10px;">
            <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
                <div class="card" style="width: 100%">
                        <img src="/city2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                            </li>
                            <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                            </li>
                        </ul>
                        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                            <a href="#" class="card-link">Editar</a>
                            <a href="#" class="card-link">Descargar</a>
                        </div>
                </div>
        </div>
    
        
        <div style="margin: 5px; margin-top: 10px;">
            <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
                <div class="card" style="width: 100%">
                        <img src="/city2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                            </li>
                            <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                            </li>
                        </ul>
                        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                            <a href="#" class="card-link">Editar</a>
                            <a href="#" class="card-link">Descargar</a>
                        </div>
                </div>
        </div>
    
    
        
        <div style="margin: 5px; margin-top: 10px;">
            <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
                <div class="card" style="width: 100%">
                        <img src="/city2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                            </li>
                            <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                            </li>
                        </ul>
                        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                            <a href="#" class="card-link">Editar</a>
                            <a href="#" class="card-link">Descargar</a>
                        </div>
                </div>
        </div>
    
        
        <div style="margin: 5px; margin-top: 10px;">
            <span class="badge badge-success" style="width: 100px;">ACTIVO</span>
                <div class="card" style="width: 100%">
                        <img src="/city2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="position: relative; top: 7px;">Promoción KFC Navideño</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fecha: <span style="font-weight: bold;">14/1/23 - 14/2/2023</span>
                            </li>
                            <li class="list-group-item">Mostrando en: <span style="font-weight: bold;">Todo el país</span>
                            </li>
                        </ul>
                        <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
                            <a href="#" class="card-link">Editar</a>
                            <a href="#" class="card-link">Descargar</a>
                        </div>
                </div>
        </div>
    
    
    </div>
    </div>
    </div>


















<div class="cssshowlaptopcampanas"> 
<div id="mySidepanel" class="sidepanel" style="font-family: 'Raleway', sans-serif; ">
    <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <div style="padding-top: 100px; line-height: 15px; padding: 20px 20px;">
        <div class="card" style="background-color: #6351ce; color: white;">
            <div class="card-body" style="padding-left: 15px; padding-top: 25px; padding-bottom: 10px;">
                <p>Andrey Lara Smith</p>
                <p>70506565</p>
                <p>andrey@gmail.com</p>
            </div>
        </div>

    </div>
    <div class="" style="padding-top: 250px;">
        <a href="#" style="text-decoration: none;">Nuevo anuncio</a>
        <a href="#" style="text-decoration: none;">Contactar soporte</a>
        <a href="/" style="text-decoration: none;">Cerrar sesión</a>

    </div>

</div>
<!-- <button class="openbtn" onclick="openNav()">&#9776; Toggle Sidepanel</button> -->
</div>
